
.mainMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  height: 60px;
  border-bottom: solid #D8D8D8 1px;
}

.subMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  height: 50px;
  border-bottom: solid #D8D8D8 1px;
}

.leftmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftmenu > h2 {
  padding-right: 65px;
}

.leftmenu > p {
  padding-right: 30px;
}

.rightmenu > p {
  padding-left: 30px;
}

.user {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #D8D8D8;
  margin-left: 30px;
}
